rsa
.DS_Store
.idea/
.vagrant/
python/
shared/
provisioning/site.retry
provisioning/roles/nansencloud/templates/settings.py
provisioning/roles/localvm/defaults/main.yml
provisioning/roles/cmems/defaults/main.yml
