---
#geo-spaas-vagrant\tasks\django_deploy.yml
- name: Django deploy | create new django project
  become_user: '{{ django_app_user }}'
  shell: 'django-admin.py startproject {{ django_project_name }}'
  args:
    chdir: '{{ django_deploy_root_path }}'
    creates: '{{ django_project_path }}'

- name: Setup Python | Create link to Django project
  file: path='{{ home_dir }}/{{ django_project_name }}'
        src='{{ django_project_path }}'
        state=link
        force=yes

- name: Django deploy | create media directories
  file: path='{{ item }}'
        state=directory
        owner={{ django_app_user }}
        group={{ django_app_user }}
  with_items:
    - "{{ geospaas_static_root }}"
    - "{{ geospaas_media_root }}"
    - "{{ geospaas_downloads_root }}"
    - "{{ geospaas_products_root }}"
    - "{{ django_project_path }}/static"

- name: Django deploy | add variables to settings.py
  blockinfile:
    dest: '{{ django_project_path }}/{{ django_project_name }}/settings.py'
    insertafter: EOF
    block: |
        MEDIA_URL = '/site_media/media/'
        STATIC_ROOT = "{{ geospaas_static_root }}"
        MEDIA_ROOT =  "{{ geospaas_media_root }}"
        DOWNLOADS_ROOT = "{{ geospaas_downloads_root }}"
        PRODUCTS_ROOT = "{{ geospaas_products_root }}"
        STATICFILES_DIRS = [
        "{{ django_project_path }}/static",
        ]
        SERIALIZATION_MODULES = {"geojson": "django.contrib.gis.serializers.geojson",}
        ALLOWED_HOSTS = ['*']

- name: Django deploy | replace DB backend
  replace:
    dest: '{{ django_project_path }}/{{ django_project_name }}/settings.py'
    regexp: 'django.db.backends.sqlite3'
    replace: 'django.contrib.gis.db.backends.spatialite'

- name: Django deploy | replace DB filename
  replace:
    dest: '{{ django_project_path }}/{{ django_project_name }}/settings.py'
    regexp: 'db.sqlite3'
    replace: 'geodjango.db'

- name: Django deploy | Add include in urls.py
  lineinfile:
    dest: '{{ django_project_path }}/{{ django_project_name }}/urls.py'
    insertafter: BOF
    line: "{{ item }}"
  with_items:
    - "from django.conf import settings"
    - "from django.conf.urls import include"

- name: Django deploy | Add include in urls.py
  lineinfile:
    dest: '{{ django_project_path }}/{{ django_project_name }}/urls.py'
    insertafter: EOF
    line: "{{ item }}"
  with_items:
    - "if settings.DEBUG:"
    - "    from django.conf.urls.static import static"
    - "    from django.contrib.staticfiles.urls import staticfiles_urlpatterns"
    - "    from django.views.generic import TemplateView"
    - "    # Serve static and media files from development server"
    - "    urlpatterns += staticfiles_urlpatterns()"
    - "    urlpatterns += static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT)"
