---
- name: Setup DB | Run makemigrations on django-geo-spaas project
  django_manage: >
      command=makemigrations
      app_path='{{ django_project_path }}'
      settings='{{ django_project_name }}.settings'
      pythonpath='{{ django_project_path }}'
  when: make_migrations is defined and make_migrations

- name: Setup DB | Run migrate on django-geo-spaas project
  django_manage: >
      command=migrate
      app_path='{{ django_project_path }}'
      settings='{{ django_project_name }}.settings'
      pythonpath='{{ django_project_path }}'
  when: run_migrate is defined and run_migrate

- name: Setup DB | Update vocabularies
  django_manage: >
      command='update_vocabularies'
      app_path='{{ django_project_path }}'
  when: run_migrate is defined and run_migrate
